<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h1>All Appointments</h1>
  <table>
    <thead>
      <tr>
        <td>
          No.
        </td>
        <td>
          Fullname
        </td>
        <td>
          Gender
        </td>
        <td>
          Dentist Name
        </td>
        <td>
          Treatment
        </td>
        <td>
          Schedule
        </td>
        <td>
          Appointment Status
        </td>
      </tr>
    </thead>
  </table>
  <%= values.User.Profile.first_name
  
</body>
</html>